
<style>#line_chart {
    height: 1px;
     margin-top: opx;
     margin-left: 25px; }
     img {
  border-radius: 50%;
}
.ram{
    background-color:rgba(168, 22, 105, 0.676);
    border: none;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 920px;
  border-radius: 6px;

}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.dashing{
    width: 280px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}



#imgs{
    border-radius: 8px;
    border: 1px solid #ddd;
  padding: 5px;
  width: 130px;
}
</style>

      <section class="content dashboard">
            <div class="main-graph">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10 padding-0 overflow-hidden">
                            <div class="graph-area">
                                 <div id="line_chart"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- #END# Main Graph-->
            <div class="page-heading">
                <h1>Push Notification List ( <%=list.shop_name%> )</h1>
                <ol class="breadcrumb">
                    <li><a href="/public/index">Home</a></li>
                    <li class="active">Push Notification List </li>
                </ol>
            </div>
          <div class="panel panel-default">
                <div class="panel-heading">
               
               
   </div>
                  <button class="btn btn-info add-new"><i class="fa fa-plus"></i> <a href="/public/send_notification_vender/<%=list._id%>">Send Notification</a></button>

                    <div class="panel-body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li>
                            <a href="/public/shop_vender_menu/<%=list._id%>" role="tab" >Shop Details</a></li>
                            <li class="active"><a href="/public/push_notification_service/<%=list._id%>" role="tab" >Push notification</a></li>
                            <li><a href="/public/delivery_boy_vender_list/<%=list._id%>" role="tab" >Delivery boy</a></li>
                            <li><a href="/public/user_qr_details/<%=list._id%>" role="tab" >Users</a></li>
                            <li><a href="/public/product_vender_list/<%=list._id%>"" role="tab" >Products</a></li>
                            <li><a href="/public/shop_vender_banner_list/<%=list._id%>" role="tab" >Banner</a></li>
                            <li><a href="/public/report_vender_details/<%=list._id%>" role="tab" >Report</a></li>
                           
                            <li><a href="/public/order_vender_details/<%=list._id%>" role="tab" >Order</a></li>
                            <li><a href="/public/vender_setting_details/<%=list._id%>" role="tab" >Setting</a></li>
                        </ul>
                        </br>
                        <div class="table-responsive">
                            <table id="myTable" class="table js-exportable">

                                <thead>
                                      <tr>
                                        <th>S.No</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Image</th>
                                        <th>Delete</th>
                                      </tr>
                                </thead>
                             <tbody>
                                 <% for(var i=0; i < data.length; i++) { %>
                               <tr>
                                  <td><%= i+1%></td>
                                  <td><%=data[i].title%></td>
                                  <td><%=data[i].notification%></td>
                                  <td><img src="/uploads/<%=data[i].image%>" alt="img" id="imgs"></td>               
                                  <td><a href ="/public/delete_push_notification_vender/<%=data[i]._id%>"class="btn btn-circle  btn-sm  btn-danger"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                  <% } %>
                              </tbody>
                            </table>
                        </div>
                     </div>
                </div>
                <!-- #END# Task data -->
            </div>
        </section>

