<style>
            #line_chart { 
                height: 1px; 
                margin-top: opx;
                margin-left: 25px;
            }

            img {
                border-radius: 50%;
            }

            .ram {
                background-color: rgba(168, 22, 105, 0.676);
                border: none;
                color: white;
                padding: 12px 22px;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                margin-left: 920px;
                border-radius: 6px;

            }

            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            .dashing {
                width: 280px;
                height: 40px;
                margin-top: 10px;
                margin-bottom: 20px;
            }



            #imgs {
                border-radius: 8px;
                border: 1px solid #ddd;
                padding: 5px;
                width: 130px;
            }
        </style>








        <section class="content dashboard">
            <div class="main-graph">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10 padding-0 overflow-hidden">
                        <div class="graph-area">
                            <div id="line_chart"></div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- #END# Main Graph-->
            <div class="page-heading">

                <ol class="breadcrumb">
                    <li><a href="/public/index">Home</a></li>
                    <li class="active">Shop </li>
                </ol>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>


                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="myTable" class="table js-exportable">

                            <thead>
                                <tr>
                                    <th>S.No</th>


                                    <th>Image</th>
                                    <th>Brand</th>
                                    <th>Product name</th>
                                    <th>Barcode</th>
                                    <th>MRP</th>
                                    <th>Quantity</th>
                                    <th>Weight</th>
                                    <th>Description</th>


                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i < data.length; i++) { %>

                                    <tr>
                                        <td><%= i+1%></td>
                                        <td><img src="/uploads/<%=data[i].images[0]%>"alt="img" id="imgs"></td>
                                        <td><%=data[i].brand%></td>
                                        <td><%=data[i].product_name%></td>
                                        <td><%=data[i].barcode%></td>
                                        <td>Rs <%=data[i].mrp%></td>
                                        <td><%=data[i].qty%></td>
                                        <td><%=data[i].weight%> kg</td>
                                        <td><%=data[i].description%></td>

                                    </tr>
                                    <% } %>
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
            <!-- #END# Task data -->
            </div>
        </section>
